

# ------------------------------------------------------------------------------ DEPLOYED FILES

# Deployed files
www/.htaccess
src/common/config/App.json
src/common/config/Atoms.json

# Deployed scripts
www/assets/css/*
www/assets/js/*

# For pebble PHP Framework
www/app/configs/app.yml
www/app/vendor/*
www/app/temp/*
www/app/composer.lock

# Generated spriteSheets
src/common/sprites/*.json
src/common/sprites/*.less


# ------------------------------------------------------------------------------ BUILD AND LIBS

# Ignore typescript fast compile files
build/.tscache

# Ignore typescript command files
build/tscommand*

# Ignore build files
build/temp/*

# Do not ignore typings definitions
# Typings are included on purpose
#build/typings/*

# Ignore bower dependecies
lib/

# ------------------------------------------------------------------------------ POOPS

# Mac poops
.DS_Store

# Typescript poops
.baseDir.ts

# Ignore ide files
.idea

# Logs
logs
*.log

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules