

# ------------------------------------------------------------------------------ DEPLOYED FILES

# Deployed files
deploy/.htaccess
src/common/config/App.json

# Deployed scripts
deploy/assets/css/*
deploy/assets/js/*

# For pebble PHP Framework
deploy/app/configs/app.yml
deploy/app/vendor/*


# ------------------------------------------------------------------------------ BUILD AND LIBS

# Ignore typescript fast compile files
build/.tscache

# Ignore typescript command files
build/tscommand*

# Ignore build files
build/temp/*

# Do not ignore typings definitions
# Typings are included on purpose
#build/typings/*

# Ignore bower dependecies
lib/

# ------------------------------------------------------------------------------ POOPS

# Mac poops
.DS_Store

# Typescript poops
.baseDir.ts

# Ignore ide files
.idea

# Logs
logs
*.log

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules