
// ----------------------------------------------------------------------------- PATHS

/**
 * Path to fonts files from css file
 * Mandatory to use the declareFontFace mixin
 */
@fontBasePath: '../fonts/';


// ----------------------------------------------------------------------------- RWD

// Minimum body width. First iphone width.
// Some old android phones are 240, sorry for them.
@minBodyWidth: 320px;

// Going from small to medium phone
@smallMobileBreakpoint: 480px;

// Going from medium phone to portrait tablet
@mediumPhoneBreakpoint: 720px;

// Going from portrait tablet to landscape tablet
@portraitTabletBreakpoint: 960px;

// Going from landscape tablet to laptop
@laptopBreakpoint: 1280px;

// Going from laptop to desktop
@desktopBreakpoint: 1440px;

// Going from desktop to huge screen
@hugeScreenBreakpoint: 1800px;